<link href="calculator.css" rel="stylesheet"/>

<div class='calculator'>
    <div class="display"><p>Enter first number</p>
        <input class="numberOne-input" 
        type="number" 
        id="number1"/>
    </div>
    <div class="display"><p>Enter second number</p>
        <input class="numberTwo-input" 
        type="number" 
        id="number2"/>
    </div>
    <div class="toolbar"><p>Enter sign</p>
        <input class="sign-input" 
        type="text" 
        id="sign"/>
    </div>
    <div class="calcButton">
        <input value="Calculate"
        type="button" 
        id="calcBtn"/>
    </div>
    <div><p>Your result</p>
    </div>
    <span class="div4" 
    id="resultField"></span>


    </div>


</div>


<link href="calculator.css" rel="stylesheet"/>
<script src="calculator.js"></script>