.calculator{
    width: 400px;
    margin: 0 auto;
}

    .display{
        text-align: center;
        padding: 5px;
    }

    .toolbar{
        text-align: center;
        padding: 5px;
        }

    .calcButton{
            text-align: center;
            padding: 5px;
            }

    .div4{
            text-align: center;
            padding: 5px;
            }
    #result{
        text-align: center;
        padding: 5px;
            }       